[Unit]
Description=Enso Karate Catalog Flask Application
After=network.target

[Service]
Type=simple
User=pi
Environment=ENSO_PROJECT_DIR=/home/pi/enso-catalog
WorkingDirectory=${ENSO_PROJECT_DIR}
Environment=PATH=${ENSO_PROJECT_DIR}/.venv/bin
ExecStart=${ENSO_PROJECT_DIR}/.venv/bin/python ${ENSO_PROJECT_DIR}/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target