[Desktop Entry]
Type=Application
Name=Enso Karate Catalog Kiosk
Exec=/usr/bin/chromium --no-sandbox --kiosk --disable-restore-session-state --disable-session-crashed-bubble --disable-infobars --disable-translate --no-first-run --disable-default-apps --disable-web-security --user-data-dir=/home/pi/enso-catalog/.config/chromium-kiosk http://localhost:5000/kiosk
NoDisplay=true